.about-me__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 115rem;
    margin: 10rem auto;

    & > h1 {
        margin-bottom: 10rem;
    }
}
.about-me__title {
    position: relative;

    & > p {
        position: absolute;
        font-size: 10em;
        color: black;
        opacity: .1;
        font-weight: bolder;
        letter-spacing: 6px;
        top: -45px;
        left: 27%;
    }

    & > h1 {
        font-size: 3em;
        font-weight: bold;
        margin: 0 auto 15rem auto;
    }
}

.about-me__content-container {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 15rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

    &--img {
        width: 30%;
    }

    &--text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;

        & > p {
            margin: 0 5rem;
            font-size: 1.5em;
            line-height: 25px;
        }
    }
}