.contact-me {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),url(.././images/laptop_overview.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    background-attachment: fixed;
    margin: 0 auto;

    &__copyright {
        color: orange;
    }

    &__send {
        margin-top: 2rem;
        background-color: white;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        color: #333;
        padding: 1rem 2rem;
        border: 3px solid #333;
        font-size: 1.7em;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background: #333;
            color: #fff;
            transition: background-color 0.2s ease;
        }
    }
}

.contact-me__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 115rem;
    margin: 10rem auto;

    & > h1 {
        margin-bottom: 10rem;
    }

    @include respond(phone) {
        width: 100%;
    }
}

.contact-me__title {
    position: relative;

    & > p {
        position: absolute;
        font-size: 10em;
        color: white;
        opacity: .4;
        font-weight: bolder;
        letter-spacing: 6px;
        top: 28px;
        width: 100%;

        @include respond(tab-port) {
            top: 31px;
            font-size: 9em;
        }

        @include respond(tab-port) {
            top: 31px;
            font-size: 4em;
        }
    }

    & > h1 {
        font-size: 3em;
        font-weight: bold;
        margin: 7rem auto 15rem auto;
        color: white;

        @include respond(tab-port) {
            margin: 7rem auto 7rem auto;
        }
    }
}

.contact-me__form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 10rem 8rem 6rem 8rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    position: relative;

    @include respond(tab-port) {
        max-width: 40rem;
        padding: 10rem 4rem 6rem 4rem;
    }

    @include respond(phone) {
        width: 100%;
        padding: 0;
        padding-bottom: 5rem;
    }
}

.form-input {
    font-size: 2em;
    padding: 1rem;
    outline: none;
    border-radius: 5px;
    border-width: 1px;

    @include respond(tab-port) {
        font-size: 1.7em;
        margin-bottom: 1rem;
    }

    @include respond(phone) {
        margin: 0 1rem 1rem 1rem 1rem;
    }
}

.contact-me__name-input-container {
    display: flex;
    width: 60rem;
    justify-content: space-around;

    @include respond(tab-port) {
        flex-direction: column;
        align-items: flex-start;
    }

    @include respond(phone) {
        margin-top: 5rem;
        margin-left: 12%;
    }
}

.contact-me__form-message {
    font-size: 2em;
    padding: 1rem;
    outline: none;
    border-radius: 5px;
    border-width: 1px;
    width: 55rem;
    height: 20rem;
    margin-top: 2rem;

    @include respond(tab-port) {
        width: 38rem;
    }
    @include respond(phone) {
        width: 70%;
    }
}

.contact-me__card-icon {
    position: absolute;
    width: 8rem;
    height: 8rem;
    top: -45px;
    left: 50%;
    margin-left: -40px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}