.my-skills {
    background: #f7f7f7;
}

.my-skills__container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 130rem;
    margin: 15rem auto;

    & > h1 {
        margin: 0 auto 15rem auto;
        font-size: 3em;
        font-weight: bold;
        margin-top: 1rem;
    }
}

.skills {
    position: absolute;
    font-size: 10em;
    color: black;
    opacity: .1;
    font-weight: bolder;
    letter-spacing: 6px;
    top: -33px;
    left: 20%;
}

.my-skills__item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
    

}
.my-skills__card {
    background-color: #f7f7f7;
    height: 30rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-bottom: 5rem;
    transition: box-shadow 0.3s ease,
                transform 0.3s ease;
    border-radius: 5px;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
        transition: box-shadow 0.3s ease,
                    transform 0.3s ease;
    }

    &:hover .my-skills__card-icon {
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
        transition: box-shadow 0.3s ease;
    }


    & > h2 {
        margin: 2rem 0;
        text-align: center;
        font-size: 2em;
    }

    & > p {
        margin: 2rem 4rem;
        font-size: 1.5em;
        line-height: 20px;
    }

    &-title {
        width: 100%;
        padding: 5rem 0 2rem 0;
        text-align: center;
        background-color: orange;
        color: #f7f7f7;
        font-size: 1.5em;
    }

    &-icon {
        position: absolute;
        width: 8rem;
        height: 8rem;
        top: -45px;
        left: 50%;
        margin-left: -40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
        transition: box-shadow 0.3s ease;
    }

}

.skill-title {
    font-weight: bold;
}

.skill_icon_img {
    width: 2.5rem;
    padding: 1rem;
    
}

.javascript-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.javascript-content {
    & > p {
        margin: 1rem 2rem;
        font-size: 1.5em;
        line-height: 20px;

        &:first-child {
            margin-top: 2rem;
        }
    }
}