.my-skills__container {
    display: flex;
    flex-direction: column;
    // text-align: center;
    max-width: 130rem;
    margin: 10rem auto;

    & > h1 {
        margin: 0 auto 10rem auto;
    }
}

.my-skills__item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
}
.my-skills__card {
    background-color: #f7f7f7;
    height: 30rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-bottom: 5rem;

    & > h2 {
        margin: 2rem 0;
        text-align: center;
        font-size: 2em;
    }

    & > p {
        margin: 1rem 2rem;
        font-size: 1.5em;
    }

    &-title {
        width: 100%;
        padding: 5rem 0 2rem 0;
        text-align: center;
        background-color: orange;
        color: #f7f7f7;
        font-size: 1.5em;
    }

    &-icon {
        position: absolute;
        width: 8rem;
        height: 8rem;
        top: -45px;
        left: 50%;
        margin-left: -40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    }
}

.skill-title {
    font-weight: bold;
}

.skill_icon_img {
    width: 2.5rem;
    padding: 1rem;
    
}